Repository velikodniy/parkruns: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: deno-fmt
        name: Deno Format
        entry: deno fmt
        language: system
        files: \.(js|jsx|ts|tsx|json|md)$
      - id: deno-lint
        name: Deno Lint
        entry: deno lint
        language: system
        files: \.(js|jsx|ts|tsx)$

chore: update deno.lock
  deno.lock
Due: none

perf: remove events.json from client bundle by enriching data at build time
  deno.lock
  scripts/download-data.ts
  src/App.tsx
  src/components/AgeGradeChart.tsx
  src/components/ConsistencyCalendar.tsx
  src/components/EventsMap.tsx
  src/components/FinishTimeChart.tsx
  src/components/PBProgressionChart.tsx
  src/components/RunCard.tsx
  src/components/RunsTable.tsx
  src/hooks/useRunStats.ts
  src/types.ts
Due: deno-fmt, deno-lint

refactor: remove PB progression chart and component
  src/App.tsx
  src/components/PBProgressionChart.tsx
  src/components/index.ts
Due: deno-fmt, deno-lint

feat: implement robust scaling and rolling median in FinishTimeChart
  src/components/FinishTimeChart.tsx
Due: deno-fmt, deno-lint

chore: update parkrun events data
  src/lib/parkrun/events.json
Due: deno-fmt

feat: implement responsive pagination for runs table and card list
  deno.json
  deno.lock
  src/components/RunsCardList.tsx
  src/components/RunsTable.tsx
Due: deno-fmt, deno-lint

feat: use tabler-icons for weather and theme, remove redundant ThemeIcons.tsx
  src/components/ThemeIcons.tsx
  src/components/ThemeToggle.tsx
  src/components/WeatherBadge.tsx
  src/components/index.ts
Due: deno-fmt, deno-lint

chore: exclude auto-generated events.json from formatting
  .pre-commit-config.yaml
Due: none

fix: resolve type-check errors and add missing type definitions
  deno.json
  deno.lock
  src/components/ErrorBoundary.tsx
  src/components/FinishTimeChart.tsx
  src/hooks/useD3Chart.ts
Due: deno-fmt, deno-lint

chore: add type checking to pre-commit hooks
  .pre-commit-config.yaml
Due: none

style: enhance header subtitle with icons and improved spacing
  src/App.tsx
Due: deno-fmt, deno-lint

feat: implement responsive range-based pagination for runs
  src/components/RunsCardList.tsx
  src/components/RunsTable.tsx
Due: deno-fmt, deno-lint

feat: dynamically set page title using athlete name from data.json
  rsbuild.config.ts
Due: deno-fmt, deno-lint

feat: cache weather data to reduce Open-Meteo API calls
  .github/workflows/deploy.yml
  .gitignore
  scripts/download-data.ts
  src/lib/parkrun/weather.ts
Due: deno-fmt, deno-lint

fix(ci): remove stale checkout ref and add --fail to curl
  .github/workflows/deploy.yml
Due: none

fix: wrap theme toggle in useCallback to fix stale closure
  src/context/ThemeContext.tsx
Due: deno-fmt, deno-lint

fix: sort arrays numerically before d3.quantile
  src/components/FinishTimeChart.tsx
  src/components/FinishTimeDistribution.tsx
Due: deno-fmt, deno-lint

fix: capitalize each word in multi-word names
  scripts/download-data.ts
Due: deno-fmt, deno-lint

refactor: use ISO codes as internal country representation
  src/App.tsx
  src/lib/parkrun/countries.ts
  src/lib/parkrun/events.ts
  src/lib/parkrun/index.ts
Due: deno-fmt, deno-lint

refactor: extract JsonCache abstraction for cached fetches
  scripts/download-data.ts
  src/lib/cache.ts
  src/lib/parkrun/weather.ts
Due: deno-fmt, deno-lint

feat: resolve UK regions via Nominatim reverse geocoding
  deno.lock
  src/lib/parkrun/regions.ts
Due: deno-fmt, deno-lint

fix(ci): cache entire .cache directory for weather and regions
  .github/workflows/deploy.yml
Due: none

fix: clean up lockfile and add region fetch progress
  deno.lock
  scripts/download-data.ts
  src/lib/parkrun/regions.ts
Due: deno-fmt, deno-lint

refactor: add LatLng/LngLat coordinate type aliases
  src/lib/parkrun/events.ts
  src/lib/parkrun/index.ts
  src/lib/parkrun/regions.ts
  src/lib/parkrun/types.ts
  src/lib/parkrun/weather.ts
  src/types.ts
Due: deno-fmt, deno-lint

refactor: consolidate run sorting into stats module
  src/components/AgeGradeChart.tsx
  src/components/FinishTimeChart.tsx
  src/d3-utils.ts
  src/stats.ts
Due: deno-fmt, deno-lint

refactor: use Set<string> for PB tracking
  src/components/RunsCardList.tsx
  src/components/RunsTable.tsx
  src/components/run-utils.ts
Due: deno-fmt, deno-lint

refactor: extract weather location grouping helper
  src/lib/parkrun/weather.ts
Due: deno-fmt, deno-lint

refactor: deduplicate event URL construction
  src/lib/parkrun/events.ts
Due: deno-fmt, deno-lint

refactor: graceful error handling in region resolution
  src/lib/parkrun/regions.ts
Due: deno-fmt, deno-lint

chore: update lockfile
  deno.lock
Due: none
